version: '3.3'

services:
  web:
    image: 'francoslab/lambdaschool-hackathon'
    build: .
    ports:
      - "80:3001"
    volumes:
      - .:/app
  mongo:
    image: mongo
    volumes:
      - ./data:/data/db
    ports:
      - "27017:27017"
