<div class="discover">
	<ul>
		<% users.forEach(function(user){ %>
			<div class="user">
				<a href="/topnine/friends/create/<%= user._id %>"><img src="<%= user.thumbnail%>"/></a>
			</div>
		<% }); %>
	  </ul>
</div>

